<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta lang="es"></meta>

    <title>Conpital</title>
    
    <!--<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  </head>
  <body class="full">

  <!-- Inicio Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Conpital</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="dashboard">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="expenses">Expenses</a>
            </li>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item"><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- Fin Navbar -->

  <!-- Inicio Resumen -->
    <div class="container resumen text-center">
      <div class="row">
        <h5 class="col-3"><%= number_to_currency(@amount_of_today) %> COP</h5>
        <h5 class="col-3"><%= number_to_currency(@amount_of_yesterday) %> COP</h5>
        <h5 class="col-3"><%= number_to_currency(@amount_of_current_month) %> COP</h5>
        <h5 class="col-3"><%= number_to_currency(@amount_of_last_month) %> COP</h5>
      </div>
      <div class="row">
        <p class="col-3">TODAY</p>
        <p class="col-3">YESTERDAY</p>
        <p class="col-3">THIS MONTH</p>
        <p class="col-3">LAST MONTH</p>
      </div>
    </div>
  <!-- Fin Resumen -->

  <!-- Inicio Gráficos -->
    <div class="container">
      <div class="row">

        <h6 class="col title">Last 6 months
          <div id="chartOne" style="height: 300px; width: 100%; display: inline-block"></div>
          <span class="d-block text-center"><span class="blue">Purchases</span> — <span class="red">Withdrawals</span> — <span class="purple">Transfers</span> — <span class="green">Payments</span></span>
        </h6>

       
        <h6 class="col title">By day
          <div id="chartTwo" style="height: 300px; width: 100%; display: inline-block"></div>
          <span class="d-block text-center"><span class="blue">Purchases</span> — <span class="red">Withdrawals</span> — <span class="purple">Transfers</span> — <span class="green">Payments</span></span>
        </h6>

      </div>
      <div class="row">

        <h6 class="col title">By category
          <div id="chartThree" style="height: 300px; width: 100%;display: inline-block;"></div>
          <span class="d-block text-center"><span class="blue">Restaurant</span> — <span class="red">Grocery</span> — <span class="purple">Car</span> — <span class="green">Services</span></span>
          <span class="d-block text-center"><span class="beige">Home</span> — <span class="yellow">Education</span> — <span class="dark-blue">Fun</span> — <span class="orange">Travel</span></span>
        </h6>

        <h6 class="col title">Accumulated
          <div id="chartFour" style="height: 300px; width: 100%;display: inline-block;"></div>
          <span class="d-block text-center"><span class="blue">Current Month</span> — <span class="red">Last Month</span></span>
        </h6>

      </div>

    </div>
  <!-- Fin Gráficos -->

  <script>
  // Inicio Last 6 months //
    Morris.Bar({
      element: 'chartOne',
      data: [
        { y: '2006', a: 100, b: 90, c: 50, d: 25 },
        { y: '2007', a: 75,  b: 65, c: 50, d: 25 },
        { y: '2008', a: 50,  b: 40, c: 50, d: 25 },
        { y: '2009', a: 75,  b: 65, c: 50, d: 25 },
        { y: '2010', a: 50,  b: 40, c: 50, d: 25 },
        { y: '2011', a: 75,  b: 65, c: 50, d: 25 },
        { y: '2012', a: 100, b: 90, c: 50, d: 25 }
      ],
      xkey: 'y',
      ykeys: ['a', 'b', 'c', 'd'],
      labels: ['Purchases', 'Withdrawals', 'Transfers', 'Payments'],
      barColors: ['#379EAB', '#C24545', '#805F81', '#86B40B'],
      stacked: true,
      hideHover: true,
    });
  // Fin Last 6 months //

  // Inicio By day //
    Morris.Bar({
      element: 'chartTwo',
      data: [
        { y: '2006', a: 100, b: 90, c: 50, d: 25 },
        { y: '2007', a: 75,  b: 65, c: 50, d: 25 },
        { y: '2008', a: 50,  b: 40, c: 50, d: 25 },
        { y: '2009', a: 75,  b: 65, c: 50, d: 25 },
        { y: '2010', a: 50,  b: 40, c: 50, d: 25 },
        { y: '2011', a: 75,  b: 65, c: 50, d: 25 },
        { y: '2012', a: 100, b: 90, c: 50, d: 25 }
      ],
      xkey: 'y',
      ykeys: ['a', 'b', 'c', 'd'],
      labels: ['Purchases', 'Withdrawals', 'Transfers', 'Payments'],
      barColors: ['#379EAB', '#C24545', '#805F81', '#86B40B'],
      hideHover: true,
    });
  // Fin By day //

  // Inicio By category //
    Morris.Donut({
      element: 'chartThree',
      data: [
        {label: "Download Sales", value: 20},
        {label: "In-Store Sales", value: 20},
        {label: "Mail-Order Sales", value: 20},
        {label: "Mail-Order Sales", value: 20},
        {label: "Mail-Order Sales", value: 20},
        {label: "Mail-Order Sales", value: 20},
        {label: "Mail-Order Sales", value: 20},
        {label: "Mail-Order Sales", value: 20}
      ],
      colors: ['#379EAB', '#C24545', '#805F81', '#86B40B', '#F2DCD0', '#F7E154', '#305CD3', '#EFA834'],
    });
  // Fin By category //

  // Inicio Accumulated //
    Morris.Area({
      element: 'chartFour',
      data: [
        { y: '2006', a: 100, b: 50 },
        { y: '2007', a: 100, b: 50 },
        { y: '2008', a: 100, b: 50 },
        { y: '2009', a: 100, b: 50 },
        { y: '2010', a: 100, b: 50 },
        { y: '2011', a: 100, b: 50 },
        { y: '2012', a: 100, b: 50 }
      ],
      xkey: 'y',
      ykeys: ['a', 'b'],
      labels: ['Last Month', 'Current Month'],
      lineColors: ['#379EAB', '#C24545'],
    });
  // Fin Accumulated //
  </script>

  </body>
</html>