<% provide(:page_title, "Log In") %>
<% provide(:login_active, 'active') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Conpital</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_index_path, class: "nav-link #{yield(:dashboard_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Expenses", expenses_path, class: "nav-link #{yield(:expenses_active)}" %>
        </li>
        <% if signed_in? %>
          <li class="nav-item"><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link #{yield(:login_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link #{yield(:signup_active)}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-4 my-5">
      <div class="col-6">

      <h2>Log In</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "Email:" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-sm mb-3' %>
        </div>

        <div class="field">
          <%= f.label :password, "Password:" %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control form-control-sm mb-3' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions mt-3">
          <%= f.submit "Log In", class: 'btn btn-info btn-sm btn-block font-weight-bold' %>
        </div>
      <% end %>
      
      <div class="links my-4">
        <i class="fas fa-caret-right"></i> <%= render "devise/shared/links" %>
      </div>
        
      </div>
    </div>
  </div>
</div>