<% provide(:page_title, "Expenses") %>
<% provide(:expenses_active, 'active') %>

<body class="full">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Conpital</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_index_path, class: "nav-link #{yield(:dashboard_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Expenses", expenses_path, class: "nav-link #{yield(:expenses_active)}" %>
          </li>
          <% if signed_in? %>
            <li class="nav-item"><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link #{yield(:login_active)}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link #{yield(:signup_active)}" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">

    <!-- Inicio Filtros -->
      <div class="col-3">
        <h5 class="filter-name">Transaction Type</h5>
        <p>Select to filter</p>
        <div class="list-group">
          <a class="list-group-item list-group-item-action list-group-item-dark transaction-type" id="purchase">Purchase</a>
          <a class="list-group-item list-group-item-action list-group-item-dark transaction-type" id="withdrawal">Withdrawal</a>
          <a class="list-group-item list-group-item-action list-group-item-dark transaction-type" id="transfer">Transfer</a>
          <a class="list-group-item list-group-item-action list-group-item-dark transaction-type" id="payment">Payment</a>
        </div>

        <h5 class="filter-name">Category</h5>
        <p>Select to filter</p>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action list-group-item-dark category" id="restaurant">Restaurant</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-dark category" id="grocery">Grocery</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-dark category" id="car">Car</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-dark category" id="services">Services</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-dark category" id="home">Home</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-dark category" id="education">Education</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-dark category" id="fun">Fun</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-dark category" id="travel">Travel</a>
        </div>
      </div>
    <!-- Fin Filtros -->

    <!-- Inicio Resumen -->
      <div class="col-9 resumen text-center">
        <div class="row">
          <h5 class="col"><%= number_to_currency(@expenses.sum(:amount))%> COP</h5>
          <h5 class="col"><%= @expenses.count %></h5>
          <h5 class="col"><%= number_to_currency(@expenses.sum(:amount) / @expenses.size.to_f) %> COP</h5>
        </div>
        <div class="row">
          <p class="col">TOTAL</p>
          <p class="col">TRANSACTIONS</p>
          <p class="col">AVERAGE</p>
        </div>
      
    <!-- Fin Resumen -->

    <!-- Inicio Botón -->
        <div class="row">
          <div class="col">
            <%= link_to new_expense_path , remote: true , :class => "btn btn-sm btn-info font-weight-bold", "data-toggle" => "modal", 'data-target' => '#exampleModalCenter' do %>
              New Expense
            <% end %>
          </div>
    <!-- Fin Botón -->

    <!-- Inicio Dropdown Mes -->
      <div class="col">
        <div class="container">
          <div class="dropdown">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle font-weight-bold" data-toggle="dropdown">
              Select Month
            </button>
            <div class="dropdown-menu">
              <%= link_to 0.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item current_month' %>
              <%= link_to 1.month.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item month_ago' %>
              <%= link_to 2.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item two_months_ago' %>
              <%= link_to 3.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item three_months_ago' %>
              <%= link_to 4.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item four_months_ago' %>
              <%= link_to 5.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item five_months_ago' %>
              <%= link_to 6.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item six_months_ago' %>
              <%= link_to 7.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item seven_months_ago' %>
              <%= link_to 8.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item eight_months_ago' %>
              <%= link_to 9.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item nine_months_ago' %>
              <%= link_to 10.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item ten_months_ago' %>
              <%= link_to 11.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item eleven_months_ago' %>
              <%= link_to 12.months.ago.strftime("%B, %Y"), "", remote: true, class: 'dropdown-item twelve_months_ago' %>
            </div>
          </div>
        </div>
      </div>
    <!--Fin Dropdown Mes -->

    <!-- Inicio Datos -->
        <table class="col table table-striped">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Concept</th>
              <th scope="col">Category</th>
              <th scope="col">Amount</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Edit</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <% @expenses.each do |expense| %>
              <td><%= expense.date.strftime("%d %a") %></td>
              <td><%= expense.concept %></td>
              <td><%= expense.category.name %></td>
              <td><%= number_to_currency(expense.amount) %></td>
              <td><%= expense.transaction_type.name %></td>
                <td><%= link_to 'Edit', edit_expense_path(expense), class: 'btn btn-sm btn-info' %></td>
                <td><%= link_to "Remove", expense, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-sm btn-danger' %></td>
          </tr>
        </tbody>
        <% end %>
        </table>
      </div>
    <!-- Fin Datos -->
    </div>
  </div>

  <script>

    // Inicio Filtro Transaction Type //
      $(document).ready(function() {
        $(".transaction-type").on('click', function(e) {
          var filter = this.id;
          var param = { "transaction_type": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          });
        });
    // Fin Filtro Transaction Type //

    // Inicio Filtro Category //
        $(".category").on('click', function(e) {
          var filter = this.id;
          var param = { "category": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          });
        });
    // Fin Filtro Category //

    // Inicio Filtro Mes //
        $(".current_month").on('click', function(e) {
          var filter = this.id;
          var param = { "current_month": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".month_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "month_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".two_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "two_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".three_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "three_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".four_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "four_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".five_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "five_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".six_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "six_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".seven_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "seven_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".eight_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "eight_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".nine_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "nine_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".ten_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "ten_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".eleven_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "eleven_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
        $(".twelve_months_ago").on('click', function(e) {
          var filter = this.id;
          var param = { "twelve_months_ago": filter };
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: "/expenses.js",
            dataType: 'html',
            data: param,
            success: function(response) {
              $("body").empty();
              $("body").html(response);
            }
          })
        });
      });
    // Fin Filtro Mes //
  </script>

  <!-- Inicio Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header  bg-dark">
            <h5 class="modal-title font-weight-bold" id="exampleModalCenterTitle">New Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="color: white;">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-dark">
            
          </div>
        </div>
      </div>
    </div>
  <!-- Fin Modal -->

</body>